<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>RideWithUs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">
				<div id="header-wrapper">
					<header id="header" class="container">
							<nav id="nav">
								<ul>
									<li class="current"><a href="/index">Home</a></li>
									<li><a href="/rent">Rent</a></li>
									<li>
										<a href="#">Account</a>
										<ul>
											<form action="/auth/details" method="post"><li ><button class="navlink">Details</button></li></form>		
											<form action="/auth/history" method="post"><li ><button class="navlink">History</button></li></form>		
										</ul>
									</li>
									<li><a href="/login">Log out</a></li>
								</ul>
							</nav>
						<br>
					</header>
				</div>
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Safe.
									Affordable.
									Eco-friendly.</h2>
								<p>Use our scooters and bikes for your daily commute and to explore cities around the world.</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul><br><br>
									<li><a style="background-color:#00894a"href="/rent" class="button small icon solid fa-arrow-circle-right">Ok let's go</a></li>
									<li><a href="#content" class="button alt small icon solid fa-question-circle">More info</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
									<section class="box feature">
										<a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Pitesti</h2>
												<p>Our scooters are available in Pitesti</p>
											</header>
											<p>You can use our services in Pitesti just be using our application.</p>
										</div>
									</section>
							</div>
							<div class="col-4 col-12-medium">
									<section class="box feature">
										<a href="#" class="image featured"><img src="/images/pic02.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Bucuresti</h2>
												<p>Our scooters are available in Bucuresti</p>
											</header>
											<p>You can use our services in Bucuresti just be using our application.</p>
										</div>
									</section>
							</div>
							<div class="col-4 col-12-medium">
									<section class="box feature">
										<a href="#" class="image featured"><img src="/images/pic03.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Brasov</h2>
												<p>Our scooters are available in Brasov</p>
											</header>
											<p>You can use our services in Brasov just be using our application.</p>
										</div>
									</section>
							</div>
						</div>
					</div>
				</div>
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">
									<div id="sidebar">
										<section class="widget thumbnails">
											<h3>RideWithUs Gallery</h3>
											<div class="grid">
												<div class="row gtr-50">
													<div class="col-6"><a href="#" class="image fit"><img src="/images/pic04.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="/images/pic05.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="/images/pic06.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="/images/pic07.jpg" alt="" /></a></div>
												</div>
											</div>
											<a style="background-color:#00894a" href="https://www.google.com/search?q=electric+scooter&sxsrf=ALiCzsYko1vGspjSisduh6fKV34nYiKZuQ:1656316101022&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj_8Nimks34AhWSu6QKHciVAbMQ_AUoAXoECAMQAw&biw=1507&bih=697&dpr=1.27" class="button icon fa-file-alt">More</a>
										</section>
									</div>
							</div>
							<div class="col-8 col-12-medium imp-medium">
									<div id="content">
										<section class="last">
											<h2>So what's this all about?</h2>
											<p>Electric kick scooters, like the Razor kick scooters of the 1990s, have two wheels, a platform called a deck, and handlebars for steering. They differ from the unmotorized kick scooters of the 90s due to the addition of a battery, electronics, larger (often air-filled) tires, and an electric motor.

												Though the majority of scooters are intended to be ridden while standing on the deck, some scooters can be converted into seated electric scooters with optional accessories. 
												
												Recently, there has been an enormous surge in interest for scooters — mainly driven by their notorious overnight introduction into cities by scooter sharing companies such as Lime and Bird.
												
												Scooter sharing has increased the general public awareness of micromobility and driven the growth of the personal market. The explosion of the personal market has led to the import of hundreds of different models of electric scooters by a huge number of different brands.
												
												Though most companies are making electric scooters for adults, some companies — notably Razor — are targeting the kids and young teen market.</p>
											<a style="background-color:#00894a" href="https://electric-scooter.guide/guides/definitive-guide-electric-scooters/" class="button icon solid fa-arrow-circle-right">Continue Reading</a>
										</section>
									</div>
							</div>
						</div>
					</div>
				</div>
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">
									<section class="widget links">
										<h3>DRÄXLMAIER Group</h3>
										<ul class="style2">
											<li><a href="https://ro.wikipedia.org/wiki/Dr%C3%A4xlmaier">Draexlmaier Group Wikipedia</a></li>
											<li><a href="https://www.draexlmaier.com/en/news/press">Draexlmaier Group News</a></li>
											<li><a href="https://www.draexlmaier.com/en/products">Draexlmaier Group Projects</a></li>
											<li><a href="https://www.draexlmaier.com/en/">Draexlmaier Group Site</a></li>
										</ul>
									</section>
							</div>
							<div class="col-3 col-6-medium col-12-small">
									<section class="widget links">
										<h3>Tuță Denis</h3>
										<ul class="style2">
											<li><a href="https://github.com/denisxoctavian">Github Page</a></li>
											<li><a href="https://www.linkedin.com/in/denisoctavian/">Linkedin Page</a></li>
											<li><a href="https://denisxoctavian.github.io/PersonalWebsite/">Personal Website</a></li>
											<li><a href="https://www.instagram.com/denis.octavian20/">Instagram Page</a></li>
										</ul>
									</section>
							</div>
							<div class="col-3 col-6-medium col-12-small">
									<section class="widget links">
										<h3>More about green energy</h3>
										<ul class="style2">
											<li><a href="https://www.twi-global.com/technical-knowledge/faqs/what-is-green-energy">What is green energy?</a></li>
											
										</ul>
									</section>
							</div>
							<div class="col-3 col-6-medium col-12-small">
									<section class="widget contact last">
										<h3>Contact Us</h3>
										<ul>
											<li><a href="www.twitter.com" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="www.facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="wwww.instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										</ul>
										<p>150, Calea Bucuresti<br />
										Pitesti, Romania<br />
										(+40) 740 608 2188</p>
									</section>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Denis. All rights reserved</li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</div>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
	</body>
</html>